In [15]:
import pandas as pd
import numpy as np
import networkx as nx
import re

In [2]:
%%time

status = pd.read_csv('../dat/status_clean.csv')
trip   = pd.read_csv('../dat/trip_clean.csv')

CPU times: user 53 s, sys: 3.04 s, total: 56 s
Wall time: 56 s

In [3]:
print(status.shape)
print(trip.shape)

(71984434, 8)
(669959, 7)

In [4]:
status.head()

,station_id,bikes_available,time,name,lat,long,dock_count,installation_date
0,2,2,2013-08-29 12:06:01,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,2013-08-06
1,2,2,2013-08-29 12:07:01,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,2013-08-06
2,2,2,2013-08-29 12:08:01,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,2013-08-06
3,2,2,2013-08-29 12:09:01,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,2013-08-06
4,2,2,2013-08-29 12:10:01,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,2013-08-06

In [5]:
trip.head()

,duration,start_date,start_station_id,end_date,end_station_id,bike_id,subscription_type
0,63,2013-08-29 14:13:00,66,2013-08-29 14:14:00,66,520,Subscriber
1,70,2013-08-29 14:42:00,10,2013-08-29 14:43:00,10,661,Subscriber
2,71,2013-08-29 10:16:00,27,2013-08-29 10:17:00,27,48,Subscriber
3,77,2013-08-29 11:29:00,10,2013-08-29 11:30:00,10,26,Subscriber
4,83,2013-08-29 12:02:00,66,2013-08-29 12:04:00,67,319,Subscriber

In [6]:
trip[trip['start_station_id'] == 2].iloc[0]

duration                             454
start_date           2013-08-29 19:18:00
start_station_id                       2
end_date             2013-08-29 19:25:00
end_station_id                         7
bike_id                               91
subscription_type             Subscriber
Name: 213, dtype: object

In [11]:
status[(status['station_id'] == 2) & (status['time'] == '2013-08-29 19:18:01')]

,station_id,bikes_available,time,name,lat,long,dock_count,installation_date
390,2,3,2013-08-29 19:18:01,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,2013-08-06

In [14]:
type(status['time'].iloc[0])

str

In [ ]:
regex = re.compile('th.s')