Let's make one csv with node data and one with edge data. Node file will look like this:

|station id | name | lat | lon | dock_count | installation date | bikes available | unix time stamp|
| --------- | ---- | --- | --- | ---------- | ----------------- | --------------- | -------------- |
| val       | val  | val | val | val        | val               | val             | val            |

Edge file will look like this:

|bike id | duration | start time stamp | start station id | end time stamp | end station id | subscription type|
|------- | -------- | ---------------- | ---------------- | -------------- | -------------- | -----------------|
| val    | val      | val              | val              | val            | val            | val              |

In [1]:
import pandas as pd
import numpy as np
import datetime

## Read n clean

In [2]:
station_raw = pd.read_csv('../dat/station.csv')
station_raw.drop('city', axis=1, inplace=True)
station_raw['installation_date'] = pd.to_datetime(station_raw['installation_date'])
temp = list(station_raw.columns)
temp[0] = 'station_id'
station_raw.columns = temp
station_raw.head()

,station_id,name,lat,long,dock_count,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,2013-08-06
1,3,San Jose Civic Center,37.330698,-121.888979,15,2013-08-05
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,2013-08-06
3,5,Adobe on Almaden,37.331415,-121.893200,19,2013-08-05
4,6,San Pedro Square,37.336721,-121.894074,15,2013-08-07

In [3]:
%%time

trip_raw = pd.read_csv('../dat/trip.csv')
trip_raw.drop(['id','start_station_name', 'end_station_name', 'zip_code'], axis=1, inplace=True)
trip_raw['start_date'] = pd.to_datetime(trip_raw['start_date'])
trip_raw['end_date'] = pd.to_datetime(trip_raw['end_date'])

CPU times: user 2min 21s, sys: 92 ms, total: 2min 21s
Wall time: 2min 21s

In [6]:
trip_raw.head()

,duration,start_date,start_station_id,end_date,end_station_id,bike_id,subscription_type
0,63,2013-08-29 14:13:00,66,2013-08-29 14:14:00,66,520,Subscriber
1,70,2013-08-29 14:42:00,10,2013-08-29 14:43:00,10,661,Subscriber
2,71,2013-08-29 10:16:00,27,2013-08-29 10:17:00,27,48,Subscriber
3,77,2013-08-29 11:29:00,10,2013-08-29 11:30:00,10,26,Subscriber
4,83,2013-08-29 12:02:00,66,2013-08-29 12:04:00,67,319,Subscriber

CAUTION: This next cell will probably eat up like 10GB of mem.

In [3]:
%%time

status_raw = pd.read_csv('../dat/status.csv')
status_raw.drop('docks_available', axis=1, inplace=True)
status_raw['time'] = pd.to_datetime(status_raw['time'])

CPU times: user 38.4 s, sys: 2 s, total: 40.4 s
Wall time: 40.4 s

In [4]:
status_raw.head()

   station_id  bikes_available                time
0           2                2 2013-08-29 12:06:01
1           2                2 2013-08-29 12:07:01
2           2                2 2013-08-29 12:08:01
3           2                2 2013-08-29 12:09:01
4           2                2 2013-08-29 12:10:01

In [5]:
status_raw['time'][0:3].astype(np.int64)

0    1377777961000000000
1    1377778021000000000
2    1377778081000000000
Name: time, dtype: int64

## glue station info onto nodes

In [6]:
station_raw['station_id'].unique().shape

(70,)

In [7]:
station_raw.shape

(70, 6)

In [8]:
status_raw.shape

(71984434, 3)

In [6]:
status_raw = status_raw.merge(station_raw, on='station_id')

In [7]:
temp = status_raw.iloc[0]['time']
print(temp)
print(temp.replace(second=0))

2013-08-29 12:06:01
2013-08-29 12:06:00

I need to write out a node id column. It should be a concatenation of the station ID and the second-zeroed unix timestamp of the sample.

In [ ]:
%%time

temp = []

for i in range(status_raw.shape[0]):
    if i % 1000000 == 0:
        print(i)
    status_raw.iloc[i]['time'] = status_raw.iloc[i]['time'].replace(second=0)

0

/home/gram/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [ ]:
status_raw.head()

In [ ]:
status_raw.iloc[71984429]['time']

In [ ]:
pd.DatetimeIndex(status_raw['time'].iloc[0]).astype(np.int64)

In [ ]:
%%time
status_raw.to_csv('../dat/status_clean.csv', index=False)

## prepare and write out trips

In [4]:
trip_raw.shape

(669959, 7)

In [5]:
%%time
trip_raw.to_csv('../dat/trip_clean.csv', index=False)

CPU times: user 2.21 s, sys: 28 ms, total: 2.24 s
Wall time: 2.24 s